<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:01:01</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.App_onBoardingFollow()[pri:2, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">App_onBoardingFollow</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:02:15</td>   <td>73278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Exposure()[pri:7, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">CheckIn_Exposure</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:02:07</td>   <td>65632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Symptoms()[pri:4, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">CheckIn_Symptoms</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:02:08</td>   <td>66974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_TestedPositive()[pri:5, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">CheckIn_TestedPositive</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:02:11</td>   <td>70124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Travel()[pri:6, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">CheckIn_Travel</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:01:05</td>   <td>3312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_With_No()[pri:3, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">CheckIn_With_No</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:02:18</td>   <td>76509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.Dashboard()[pri:8, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">Dashboard</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>21/02/03 12:00:58</td>   <td>-3413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.login()[pri:1, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">login</td> 
  <td>main@206835546</td>   <td></td> </tr>
<tr bgcolor="6786a3">  <td>21/02/03 12:00:33</td>   <td>-28239</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassMobile.setupapp()[pri:0, instance:com.mobileApp.clear360.testcase.mobileAppLogin@799d4f69]">&gt;&gt;setupapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@206835546</td>   <td></td> </tr>
</table>
