<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7a75ff">  <td>20/10/14 15:21:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassMobile.setupapp()[pri:0, instance:com.mobileApp.clear360.testcase.AppLoginNegative@12028586]">&gt;&gt;setupapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/14 15:22:29</td>   <td>48915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppLoginNegative.VerifyNextSkip()[pri:1, instance:com.mobileApp.clear360.testcase.AppLoginNegative@12028586]">VerifyNextSkip</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/14 15:23:13</td>   <td>92313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppLoginNegative.blankorgIdmobile()[pri:2, instance:com.mobileApp.clear360.testcase.AppLoginNegative@12028586]">blankorgIdmobile</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/14 15:23:16</td>   <td>95807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppLoginNegative.WrongOrgId()[pri:3, instance:com.mobileApp.clear360.testcase.AppLoginNegative@12028586]">WrongOrgId</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/14 15:23:20</td>   <td>99779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppLoginNegative.InvalidMobile()[pri:4, instance:com.mobileApp.clear360.testcase.AppLoginNegative@12028586]">InvalidMobile</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="a7b0ac">  <td>20/10/14 15:23:24</td>   <td>103543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppLoginNegative.Unassociatedmobile()[pri:5, instance:com.mobileApp.clear360.testcase.AppLoginNegative@12028586]">Unassociatedmobile</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="7a75ff">  <td>20/10/14 15:23:31</td>   <td>110264</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClassMobile.setupapp()[pri:0, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">&gt;&gt;setupapp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:24:08</td>   <td>147702</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.login()[pri:1, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">login</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:25:07</td>   <td>206794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.App_onBoardingFollow()[pri:2, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">App_onBoardingFollow</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:25:28</td>   <td>227972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_With_No()[pri:3, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">CheckIn_With_No</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:25:59</td>   <td>259081</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Symptoms()[pri:4, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">CheckIn_Symptoms</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:26:52</td>   <td>311511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_TestedPositive()[pri:5, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">CheckIn_TestedPositive</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:27:19</td>   <td>338870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Travel()[pri:6, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">CheckIn_Travel</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:27:43</td>   <td>362412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.CheckIn_Exposure()[pri:7, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">CheckIn_Exposure</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="639ac6">  <td>20/10/14 15:28:04</td>   <td>383760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="mobileAppLogin.Dashboard()[pri:8, instance:com.mobileApp.clear360.testcase.mobileAppLogin@17776a8]">Dashboard</td> 
  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="f984f5">  <td>20/10/14 15:28:28</td>   <td>407453</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseclassWeb.setup()[pri:0, instance:com.web.clear360.testcase.VerifyCheckInTest@69a10787]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1151755506</td>   <td></td> </tr>
<tr bgcolor="7d7d99">  <td>20/10/14 15:28:42</td>   <td>422085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyCheckInTest.verifycheckIn()[pri:0, instance:com.web.clear360.testcase.VerifyCheckInTest@69a10787]">verifycheckIn</td> 
  <td>main@1151755506</td>   <td></td> </tr>
</table>
