<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.mobileApp.sample.testcase.mobileAppLogin</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>CheckIn_With_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckIn_TestedPositive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckIn_Symptoms</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Dashboard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>App_onBoardingFollow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckIn_Travel</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>CheckIn_Exposure</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setupapp</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
